@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

ul li {
}

    ul li.red {
        color: red;
    }

    ul li.blue {
        color: blue;
    }

    ul li.purple {
        color: purple;
    }

    ul li.darkgoldenrod {
        color: darkgoldenrod;
    }

    ul li.green {
        color: green;
    }
