.vs/
DataPoliceUk/obj/
packages/
DataPoliceUk/bin/
DataPoliceUk.Website/bin/
DataPoliceUk.Website/obj/
DatePoliceUk.API/bin/
DatePoliceUk.API/obj/
DataPoliceUk.Tests/bin/
DataPoliceUk.Tests/obj/
DatePoliceUk.API/Properties/PublishProfiles/
