@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="row forces">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
        <h5>@ViewData["Message"]</h5>
    </div>
    <div class="col-md-12">
        <p>Use this page to detail your site's privacy policy.</p>
    </div>
</div>