/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.force__panel {
    margin-top: 15px !important;
}

.streetcrimes_btn {
    margin-top: 15px;
}

.badge.anti-social-behaviour {
    background-color: #ff3300;
}
.badge.anti-social-behaviour {
    background-color: #ff3300;
}
.badge.bicycle-theft {
    background-color: #66ff33;
}
.badge.burglary {
    background-color: #0033cc;
}
.badge.criminal-damage-arson {
    background-color: #9933ff;
}
.badge.drugs {
    background-color: #660033;
}
.badge.other-theft {
    background-color: #ffcc00;
}
.badge.robbery {
    background-color: #cc6600;
}
.badge.shoplifting {
    background-color: #ff6666;
}
.badge.theft-from-the-person {
    background-color: #666633;
}
.badge.vehicle-crime {
    background-color: #666699;
}
.badge.violent-crime {
    background-color: #33cc33;
}
.badge.other-crime {
    background-color: #4288f7;
}